<!DOCTYPE html>
<html lang="en">

<head>
    <title>Imhotep Tech - Custom Software Development & Web Applications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='it.ico') }}">
    <meta name="google-site-verification" content="5VWhaKmsV5Wzrdko3_Si5vVnmNsMDttsJFA04mFxrsE" />
    <meta name="description" content="Imhotep Tech - We develop custom software & web applications to streamline your business operations. Contact us to discuss your project!">
    <meta name="keywords" content="Tech, Imhotep Tech, imhotep tech, imhotep, tech, small software company, custom software development, web application development">
    <meta property="og:title" content="Imhotep Tech - Custom Software Development & Web Applications">
    <meta property="og:description" content="We develop custom software & web applications to streamline your business operations. Contact us to discuss your project!">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://imhoteptech.vercel.app">
    <meta name="twitter:card" content="">
</head>

<body>
    {% include 'nav.html' %}
    <div class="p-5 text-center bg-light" style="color: #2e3b4b;">
        <h1>Karim Bassem Joseph</h1>
        <p>The Founder of Imhotep Tech</p>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <h2>About Karim</h2>
                <img src="{{ url_for('static', filename='karim.png') }}" class="img-fluid rounded-circle mb-3" alt="Karim">
                <p>Karim Bassem Joseph is a student at Nile University (NU) in Egypt. Passionate about programming. Proficient in Flask, Python, HTML/CSS, C, C++, Bootstrap, SQLite3, and postgresql.</p>
            </div>
        </div>
    </div>
</body>
{% include 'footer.html' %}
</html>
