    <footer class="mt-5 p-4 bg-dark text-white text-center">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023-2024 Imhotep Tech. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end align-items-center">
                    <p class="mb-0">Contact us:</p>
                    <a href="mailto:imhoteptech@outlook.com" class="footer-icon">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="https://www.instagram.com/imhotep_tech?igsh=YXV0Y24xZnNveDQ5" target="_blank" class="footer-icon">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://x.com/Imhoteptech1?t=E5JmfSp5WpyZaWkDzILpKw&s=09" target="_blank" class="footer-icon">
                        <i class="fab fa-twitter"></i> 
                    </a>
                </div>
            </div>
        </div>
    </footer>